.form-section {
  padding: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url(https://images.unsplash.com/photo-1528721071427-cab7de8e8050?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8bW91dGFpbnN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.form {
  width: 60%;

  &__person-info {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    padding: 0.8rem 1rem;
    border: none;
    outline: none;
    width: 49%;
  }
  &__message {
    width: 100%;
    margin-top: 1rem;
    outline: none;
    border: none;
    padding: 0.8rem 1rem;
  }
  &__btn {
    width: 100%;
  }

  @media (max-width: 1000px) {
    width: 80%;
  }
  @media (max-width: 600px) {
    width: 100%;
  }
}

.display-message-container {
  background: rgba(0, 0, 0, 0.527);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: none;
}
.display-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  width: 24rem;
  height: max-content;
  padding: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 2px 0 grey;
}

.display-message-show {
  display: block;
}
