.home {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  background: linear-gradient(
      to right,
      var(--primary-background-color),
      var(--primary-background-color)
    ),
    url("https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8bGFwdG9wJTIwY29kZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &__heading {
    font-weight: 700;
    color: white;
  }
  &__primary-heading {
    display: block;
    text-align: center;
    letter-spacing: 0.7rem;
    text-transform: uppercase;
  }
  &__secondary-heading {
    display: block;
    letter-spacing: 0.5rem;
    margin: 0.8rem 0;
    display: flex;
    align-items: center;
  }
  &__business {
    display: inline-block;
    color: var(--primary-color);
    background: var(--tertiary-color);
    padding: 0.5rem 1rem;
    width: 16rem;
    height: 3rem;
    position: relative;
    margin: 0 1rem;
    letter-spacing: 0.3rem;
    transform: skew(24deg);
  }
  .design,
  .development {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%) skew(-24deg);
    opacity: 0;
    visibility: hidden;
    transition: all 0.7s;
  }
}
.show-text {
  transform: translate(-50%, -50%) skew(-24deg) !important;
  opacity: 1 !important;
  visibility: visible !important;
}
.btn {
  transition: all 0.4s;
  background: var(--primary-color);
  padding: 0.6rem 2rem;
  border: none;
  outline: none;
  color: white;
  border: 2px solid transparent;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  &:hover {
    border: 2px solid var(--secondary-color);
    box-shadow: var(--box-shadow);
    background: var(--primary-light-color);
    color: var(--tertiary-color);
  }
}
.down-arrow {
  margin-left: 0.5rem;
  display: inline-block;
  animation: moveUpDown 2s infinite;
}

.inactive {
  transform: translate(-50%, 200%) !important;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(-0.2rem);
  }
  50% {
    transform: translateY(0.2rem);
  }
  100% {
    transform: translateY(-0.2rem);
  }
}
