.projects-section {
  padding: 4rem;
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );

  @media (max-width: 600px) {
    padding: 2rem 0.9rem;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  gap: 1rem;

  @media (max-width: 600px) {
    grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  }
}

.project {
  position: relative;
  transition: all 1.4s;
  height: 18rem;
  background: white;
  z-index: 1000;

  &:hover {
    background: rgba(0, 0, 0, 0.75);
  }
  &:hover &__btns {
    opacity: 1;
    visibility: visible;
  }

  &:hover &__img {
    filter: brightness(0.2);
  }

  &__img {
    height: 100%;
    width: 100%;
  }

  &__btns {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;

    a {
      text-decoration: none;
    }
  }
  &__website,
  &__github {
    width: max-content;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    font-size: 1rem;
    margin: 0.4rem 0;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
  }
  &__website {
    transform: translateY(-4rem);
    background: var(--primary-color);

    i {
      color: black;
      margin-right: 0.5rem;
      display: inline-block;
      transition: all 0.3s;
    }
    &:hover {
      background: red;
      color: black;
    }
    &:hover i {
      transform: scale(1.2);
      color: white;
    }
  }
  &__github {
    transform: translateY(4rem);
    background: var(--secondary-color);
    display: block;

    i {
      color: black;
      margin-right: 0.5rem;
      display: inline-block;
      transition: all 0.3s;
    }

    &:hover {
      background: blueviolet;
      color: black;
    }
    &:hover i {
      transform: scale(1.2);
      color: white;
    }
  }

  &__techs {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translate(-50%);
    font-weight: 500;
    background: linear-gradient(
      to right,
      var(--primary-color),
      var(--secondary-color)
    );
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-8rem);
    transition: all 1.2s;
  }

  &:hover &__github,
  &:hover &__website {
    transform: translateY(0);
  }

  &:hover &__techs {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%);
  }
}
