.skills-section {
  padding: 4rem;
  background: black;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  gap: 2rem;

  &__heading {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-bottom: 3px solid var(--primary-color);
    width: max-content;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding-bottom: 1rem;
  }
}

.skill {
  text-align: center;
  background: white;
  line-height: 1.4rem;
  padding: 2rem;
  transition: all 0.2s;

  h4 {
    margin: 1rem 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 300;
  }

  &:hover {
    transform: translateY(-4px);
    box-shadow: var(--box-shadow);
  }
  img {
    width: 4rem;
    transition: all 0.9s;
  }

  &:hover img {
    transform: scale(1.3);
  }
}
