:root {
  --primary-background-color: rgba(128, 128, 128, 0.7);
  --primary-color: peru;
  --primary-light-color: rgba(205, 134, 63, 0.75);
  --secondary-color: orchid;
  --tertiary-color: purple;
  --box-shadow: 0 4px 4px black;
}

html {
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 600px) {
  html {
    font-size: 85%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 75%;
  }
}

.nav {
  background: black;
  color: white;
  padding: 0.8rem 2rem;
}

.nav__logo {
  z-index: 1000;
}

.nav__lists {
  height: 4rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.nav__list-items {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

@media (max-width: 600px) {
  .nav__list-items {
    display: none;
  }
}

.nav__list-item:not(:last-child) {
  margin: 0 0.4rem;
  text-transform: uppercase;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.4rem;
  position: relative;
  cursor: pointer;
  font-size: 0.9rem;
}

.nav__list-item:not(:last-child):hover {
  color: peru;
}

.nav__list-item:not(:last-child)::before {
  content: "";
  display: inline-block;
  background: var(--primary-color);
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.nav__list-item:hover::before {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__list-btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 2px solid white;
  color: var(--primary-color);
  border-radius: 4rem;
  padding: 0.4rem 1.5rem;
  outline: none;
  background: var(--primary-color);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  margin: 0 0.4rem;
}

.nav__list-btn:hover {
  background: none;
  color: var(--primary-color);
}

.hamburger {
  height: 100%;
  border: 2px solid peru;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  cursor: pointer;
  z-index: 1000;
}

@media (min-width: 600px) {
  .hamburger {
    display: none;
  }
}

.hamburger__icon {
  width: 3.5rem;
  background: white;
  height: 3px;
  display: inline-block;
  position: relative;
}

.hamburger__icon::before {
  content: "";
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  display: inline-block;
}

.hamburger__icon::after {
  content: "";
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  display: inline-block;
}

.nav__items-mobile {
  position: absolute;
  width: 100%;
  height: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  background: black;
  right: 0;
  top: 5.6rem;
  opacity: 0;
  visibility: hidden;
}

.show-nav-items {
  height: 25rem;
  opacity: 1;
  visibility: visible;
}

@media (max-width: 600px) {
  .mobile-nav__list-items {
    height: 100%;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    -webkit-transform: translateY(-200rem);
            transform: translateY(-200rem);
  }
  .nav__list-item {
    margin: 1rem 1rem !important;
    padding: 1rem !important;
  }
  .nav__list-item:hover {
    background: var(--primary-color);
    color: white !important;
  }
  .nav__list-item:hover::before {
    display: none;
  }
  .nav__list-btn {
    -ms-flex-item-align: start;
        align-self: flex-start;
    border-radius: 0;
    padding: 0;
    margin: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 4rem;
    width: 8rem;
  }
}

.mobile-nav__items-show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (min-width: 600px) {
  #mobile-nav {
    display: none;
  }
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2rem;
  background: -webkit-gradient(linear, left top, right top, from(var(--primary-background-color)), to(var(--primary-background-color))), url("https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8bGFwdG9wJTIwY29kZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background: linear-gradient(to right, var(--primary-background-color), var(--primary-background-color)), url("https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8bGFwdG9wJTIwY29kZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home__heading {
  font-weight: 700;
  color: white;
}

.home__primary-heading {
  display: block;
  text-align: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.home__secondary-heading {
  display: block;
  letter-spacing: 0.2rem;
  margin: 0.8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home__business {
  display: inline-block;
  color: var(--primary-color);
  background: var(--tertiary-color);
  padding: 0.5rem 1rem;
  width: 16rem;
  height: 3rem;
  position: relative;
  margin: 0 1rem;
  letter-spacing: 0.2rem;
  -webkit-transform: skew(24deg);
          transform: skew(24deg);
}

.home .design,
.home .development {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -200%) skew(-24deg);
          transform: translate(-50%, -200%) skew(-24deg);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.show-text {
  -webkit-transform: translate(-50%, -50%) skew(-24deg) !important;
          transform: translate(-50%, -50%) skew(-24deg) !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.btn {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: var(--primary-color);
  padding: 0.6rem 2rem;
  border: none;
  outline: none;
  color: white;
  border: 2px solid transparent;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.btn:hover {
  border: 2px solid var(--secondary-color);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  background: var(--primary-light-color);
  color: var(--tertiary-color);
}

.down-arrow {
  margin-left: 0.5rem;
  display: inline-block;
  -webkit-animation: moveUpDown 2s infinite;
          animation: moveUpDown 2s infinite;
}

.inactive {
  -webkit-transform: translate(-50%, 200%) !important;
          transform: translate(-50%, 200%) !important;
}

.home-social-icons {
  position: absolute;
  bottom: 0;
}

.social-icons {
  font-size: 1.5rem;
  margin-top: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 100%;
  text-align: center;
}

.social-icons:hover i {
  color: rgba(255, 255, 255, 0.301);
}

.social-icons a {
  text-decoration: none;
}

.social-icons i {
  color: black;
  padding: 1rem;
  margin: 0 0.4rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: inline-block;
}

.social-icons i:hover {
  color: black;
  cursor: pointer;
  -webkit-transform: translateY(-6px) scale(1.2);
          transform: translateY(-6px) scale(1.2);
}

.social-icons i:active {
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

@media (max-width: 400px) {
  .home__text-business {
    margin-top: 1rem;
  }
}

@-webkit-keyframes moveUpDown {
  0% {
    -webkit-transform: translateY(-0.2rem);
            transform: translateY(-0.2rem);
  }
  50% {
    -webkit-transform: translateY(0.2rem);
            transform: translateY(0.2rem);
  }
  100% {
    -webkit-transform: translateY(-0.2rem);
            transform: translateY(-0.2rem);
  }
}

@keyframes moveUpDown {
  0% {
    -webkit-transform: translateY(-0.2rem);
            transform: translateY(-0.2rem);
  }
  50% {
    -webkit-transform: translateY(0.2rem);
            transform: translateY(0.2rem);
  }
  100% {
    -webkit-transform: translateY(-0.2rem);
            transform: translateY(-0.2rem);
  }
}

.skills-section {
  padding: 4rem;
  background: black;
}

@media (max-width: 600px) {
  .skills-section {
    padding: 2rem 0.9rem;
  }
}

.skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(17rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  gap: 2rem;
}

.skills__heading {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-bottom: 3px solid var(--primary-color);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 4rem;
  padding-bottom: 1rem;
}

.skill {
  text-align: center;
  background: white;
  line-height: 1.4rem;
  padding: 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.skill h4 {
  margin: 1rem 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
}

.skill:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.skill img {
  width: 4rem;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}

.skill:hover img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.about-section {
  background: grey;
  padding: 2rem;
}

.about-heading {
  margin-bottom: 2rem;
}

.about {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2rem;
}

.about img {
  margin: 1rem 0;
  height: 8rem;
  border-radius: 50%;
}

.about p {
  line-height: 1.4rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.65);
}

.about__important {
  color: var(--tertiary-color);
}

.projects-section {
  padding: 4rem;
  background: -webkit-gradient(linear, left top, right top, from(var(--primary-color)), to(var(--secondary-color)));
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
}

@media (max-width: 600px) {
  .projects-section {
    padding: 2rem 0.9rem;
  }
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(24rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
}

@media (max-width: 600px) {
  .projects {
    -ms-grid-columns: (minmax(19rem, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  }
}

.project {
  position: relative;
  -webkit-transition: all 1.4s;
  transition: all 1.4s;
  height: 18rem;
  background: white;
  z-index: 1000;
  background-image: url("../imgs/mypicture.jpg");
  background-position: center;
  background-size: cover;
}

.project:hover {
  background: rgba(0, 0, 0, 0.75);
  background-position: center;
  background-size: cover;
}

.project:hover .project__btns {
  opacity: 1;
  visibility: visible;
}

.project__btns {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.project__website, .project__github {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  margin: 0.4rem 0;
  cursor: pointer;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.project__website {
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
  background: var(--primary-color);
}

.project__website i {
  color: black;
  margin-right: 0.5rem;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.project__website:hover {
  background: red;
  color: black;
}

.project__website:hover i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: white;
}

.project__github {
  -webkit-transform: translateY(4rem);
          transform: translateY(4rem);
  background: var(--secondary-color);
  display: block;
}

.project__github i {
  color: black;
  margin-right: 0.5rem;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.project__github:hover {
  background: blueviolet;
  color: black;
}

.project__github:hover i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: white;
}

.project__techs {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-weight: 500;
  background: -webkit-gradient(linear, left top, right top, from(var(--primary-color)), to(var(--secondary-color)));
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-8rem);
          transform: translateX(-8rem);
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

.project:hover .project__github,
.project:hover .project__website {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project:hover .project__techs {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.form-section {
  padding: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3))), url(https://images.unsplash.com/photo-1528721071427-cab7de8e8050?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8bW91dGFpbnN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(https://images.unsplash.com/photo-1528721071427-cab7de8e8050?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8bW91dGFpbnN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.form {
  width: 60%;
}

.form__person-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__input {
  padding: 0.8rem 1rem;
  border: none;
  outline: none;
  width: 49%;
}

.form__message {
  width: 100%;
  margin-top: 1rem;
  outline: none;
  border: none;
  padding: 0.8rem 1rem;
}

.form__btn {
  width: 100%;
}

@media (max-width: 1000px) {
  .form {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .form {
    width: 100%;
  }
}

.footer {
  background: grey;
  padding: 1rem;
}

.footer__text {
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-top: 1rem;
  font-weight: 200;
}

.footer__social-icons {
  margin: 1rem 0;
  padding: 1rem;
  border-bottom: 2px solid black;
}
/*# sourceMappingURL=main.css.map */